fastapi
uvicorn
sqlalchemy
pydantic
jinja2
google-auth
google-auth-oauthlib
google-auth-httplib2
itsdangerous
python-multipart
aiohttp
aiokafka
email-validator
google-api-python-client
starlette
httpx
kafka-python
python-dotenv